#metridocNavigationBar {
    border-right: none;
    border-left: none;
    width: 100%;
    float: left;
}

#metridocNavigation {
    margin: 0;
    padding: 0;
    list-style: none;
}

#metridocNavigation li {
    float: left;
    /*display: block;*/
    z-index: 500;
    position: relative;
}

#metridocNavigation li a {
    display: block;
    padding: 8px 5px 0 5px;
    font-weight: 700;
    height: 23px;
    text-decoration: none;
    border-right: 1px solid #AAA;
    color: #E5E9E2;
    border-left: none;
    border-bottom: none;
    border-top: none;
}

#metridocNavigation a:hover {
    color: #b81900;
}

#metridocNavigation ul {
    position: absolute;
    left: 0;
    display: none;
    margin: 0 0 0 -1px;
    padding: 0;
    list-style: none;
    border: 1px solid #AAA;
}

#metridocNavigation ul a {
    border-right: none;
}

#metridocNavigation ul li {
    width: 200px;
    float: left;
    background: #fff;
    font-weight: normal;
}

#metridocNavigation ul li a {
    font-weight: normal;
    padding: 0.25em 0.7em;
}

#metridocNavigation ul a {
    height: auto;
    padding-bottom: 8px;
    color: #666;
}

